<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メッセージ編集</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>メッセージ編集</h1>
    <form th:action="@{/edit}" method="post">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="id" th:value="${message.id}" />
        <label>名前: <input type="text" name="name" th:value="${message.name}" /></label><br>
        <label>メッセージ: <input type="text" name="text" th:value="${message.text}" /></label><br>
        <button type="submit">更新</button>
    </form>
    <a th:href="@{/}">戻る</a>
</body>
</html>